html{
    background-color:darkgrey;
}
.menu{
    
    margin: auto ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style: none;
}


.principal>li{
    float: left;
}
.principal li a{
    background-color: darkgreen;
    color: white;
    text-decoration: none;
    padding: 10px 5px;
    display: block;
}

.encabezado {
    background-color: rgba(44, 34, 53, 0.598);
    font-size: 20px;
    text-align: center;
    margin: 0px 100px 0px 100px;
    font-family: Arial;
    text-shadow: 0px 0px 20px rgb(82, 5, 144);
}

.texto {
    background-color: rgba(44, 34, 53, 0.598);
    margin: 0px 100px 0px 100px;
    font-size: 30px;
}

.texto img{
    width: 250px;
    float: left;
    margin: 0px 100px 0px 100px;
}

.texto p{
    text-align: justify;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.general h1{
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-center{
    display: flex;
    justify-content: center;
}

#imagenes{
    display: grid;
    grid-template-columns:repeat(2, 3fr);
    width: 90%;
    margin: 5%;
    grid-gap: 30px;
}
    
#imagenes img{
    width: 100%;
    transition: all 300ms;
    position: relative;
}

#imagenes img:hover{
    transform: scale(1.15);
}
footer{
    background-color:cornsilk;
    }
    footer img{
        width: 20px;
    }